/Documents/NetBeansProjects/School/target/
/Documents/NetBeansProjects/prac4/target/
/Documents/NetBeansProjects/Ass/target/
/Documents/NetBeansProjects/Practical4C/target/
/Documents/NetBeansProjects/midterm/target/
/Documents/NetBeansProjects/prac5/target/
/Documents/NetBeansProjects/prac6/target/
/Documents/NetBeansProjects/First/main/target/
/Documents/NetBeansProjects/main/target/
/Documents/NetBeansProjects/Prac7/target/
/Documents/NetBeansProjects/sddd/target/
/Documents/NetBeansProjects/finalsexam/target/
/Documents/NetBeansProjects/datastr/nbproject/private/
/Documents/NetBeansProjects/datastr/build/
/Documents/NetBeansProjects/prac1q3/nbproject/private/
/Documents/NetBeansProjects/prac1q3/build/
/Documents/NetBeansProjects/Prac1Q4/nbproject/private/
/Documents/NetBeansProjects/Prac1Q4/build/
/Documents/NetBeansProjects/Prac1q5/nbproject/private/
/Documents/NetBeansProjects/Prac1q5/build/
/Documents/NetBeansProjects/Prac2Q1/nbproject/private/
/Documents/NetBeansProjects/Prac2Q1/build/
/Documents/NetBeansProjects/Prac2Q2/nbproject/private/
/Documents/NetBeansProjects/Prac2Q2/build/
/Documents/NetBeansProjects/AssignmentECB/nbproject/private/
/Documents/NetBeansProjects/AssignmentECB/build/
/Documents/NetBeansProjects/DSPrac6/nbproject/private/
/Documents/NetBeansProjects/Fibonacci/nbproject/private/
/Documents/NetBeansProjects/DSPrac6/build/
/Documents/NetBeansProjects/DSAAss/nbproject/private/
/source/repos/Assignment/Assignment/Assignment.vcxproj
/source/repos/Assignment/Assignment/Assignment.vcxproj.filters
