<header class="main-header">
    <div class="logo">
        <a href="../index.html" class="logo-link" aria-label="GDM Corporate home">
            <img class="logo-image" src="../assets/gdmlogo-transparent.png" alt="GDM Logo">
        </a>
    </div>
    <button class="hamburger-menu" id="hamburger-menu" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav class="main-nav" id="main-nav">
        <a href="../index.html" class="active">Home</a>
        <a href="services.html">Services</a>
        <a href="contact.html">Contact</a>
        <a href="qualification.html">Our Qualifications</a>
    </nav>
</header> 